.Submit{
    font-family: "Frutiger-LT-Arabic-55-Roman";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 31px !important;
}

.label{
    font-size: 18px;
    font-weight: 700 !important;
    color: #1d1556;
    font-family: "FrutigerLTArabic-65Bold" !important;
    margin-left: 0px;
    padding-top: 18px;
    margin-bottom: 8px;
}

.value{
    font-family: "Frutiger-LT-Arabic-55-Roman";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 31px !important;
    color: #747C91;
    
}
.block-20{
    height: 20px;
}

.paymentDeadline{
    border: 2px solid rgba(116, 124, 145, 0.3);
    padding: 22px 42px;
    border-radius: 4px;
    margin:0px 0px 36px 0px;
    height: 514px !important;
    overflow: auto;
}

.paymentDetails{
    position: relative;
    top: 12px;
    left: 25px;
    display: inline;
    padding: 0px 10px;
    z-index: 1;
    background: white;
    font-size: 18px;
    font-weight: 700 !important;
    color: #1d1556;
    font-family: "FrutigerLTArabic-65Bold" !important;
    line-height: 31px !important;
}
.d-flex {
    justify-content: end;
    display: flex!important;
}

table{
    input:focus, textarea:focus
{
  //  border: 1px solid #1670BE;
   // box-shadow: 0 0 3px #1670BE;
    outline-offset: 0px;
    outline: none;
}
}

.bg-primary-light{
    height: 28px !important;
}

.modal-header{
    height: 60px;
    padding: 10px 12px 10px 3px !important;

    .close{
        margin: 0px !important;

        span{
            margin-left: -4px;
        }
    }
}
.modal-body{
    padding: 16px 8.5px;
   .row{
    input{
        background: #FFFFFF;
        border: 1px solid rgba(116, 124, 145, 0.3);
        border-radius: 6px;
        box-sizing: border-box;
        height: 50px;
        font-family: "Frutiger-LT-Arabic-55-Roman";
        vertical-align: middle !important;
        background-color: #FFFFFF !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        color: #747C91 !important;
        opacity: 1;
        font-weight: 500;
        font-size: 16px !important;
        margin: 0px;
        margin-bottom:  25px;
    }
    label{
        font-family: "Frutiger-LT-Arabic-55-Roman";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 31px !important;
        color: #747C91;
        margin-bottom: 30px;
    }
    .d-flex{
        justify-content: end;

        .bg-primary-blue{
            background: #2A235F;
            border-radius: 4px;
            height: 30px;
        }

        .bg-primary-light{
            border-radius: 4px;
            height: 30px;
        }
    }
   }
}

.minus{
    content: "\2212";
}