<div id="csaPdf" style="width:550px">
    <h1 style="text-align:center;color:#006fc0;font-family:Tahoma,sans-serif"> CONSULTING SERVICES AGREEMENT</h1>
    <div class="consultingAgree">
        <p style="font-family:Tahoma,sans-serif;margin-left:15px;margin-right:32px;">This Consulting Agreement (this
            “Agreement”) dated<span class="date"><strong>26 April, 2023</strong></span>, by and between <span
                class="company"><strong>Rootware Technologies DWC-LLC</strong></span> a company duly registered
            according
            to the laws of Dubai World Central(DWC) in the AE, having its registered office at<span
                class="officeAddress"><strong> PO Box 712738, Dubai World Central, Dubai, UAE</strong></span>, (the
            “SERVICE PROVIDER”), and<span class="consultantName"><strong> Akaram Siddiqui</strong></span>, #<span
                class="address">House no. 62, Odaiyasinh A, Oraiyadih, Pratapgarh - 230134, UttarPradesh,
                India</span><strong>(CONSULTANT)</strong>.</p>
    </div>
    <div class="whereas">
        <h1 style="margin-left:15px;font-family:Tahoma,sans-serif;font-size:12pt;color:#006fc0">Whereas</h1>
        <ol style="list-style-type:lower-roman">
            <li><span style="font-size:11pt"><span style="font-family:Verdana,sans-serif">The service provider provides
                        various services involved in providing various IT services including but not limited to Software
                        Development, Portal Development, Custom Solution Delivery, IT integration and architecture
                        consulting and work relating to resource augmentation.</span></span></li>
            <li><span style="font-size:11pt"><span style="font-family:Verdana,sans-serif">The service provider is
                        intending to develop its activities for its clients in the above- mentioned fields concerning
                        IT.</span></span></li>
            <li><span style="font-size:11pt"><span style="font-family:Verdana,sans-serif">The service provider wishes to
                        engage the services of the consultant (through consulting company) as specified herein this
                        agreement and the consultant is ready, willing and able to make the rendition of such
                        services.</span></span></li>
        </ol>
        <p>&nbsp;</p>
        <p style="margin-left:15px">
            <span style="font-size:11pt">
                <span style="font-family:Verdana,sans-serif">
                    <strong>
                        <span style="font-family:Tahoma,sans-serif">Now therefore each parties hereby agree as
                            follows:</span>
                    </strong>
                </span>
            </span>
        </p>
        <p>&nbsp;</p>
        <!-- All Points -->
        <ol>
            <li>
                <span style="font-size:11pt">
                    <span style="font-family:Verdana,sans-serif">
                        <strong>
                            <span style="font-family:Tahoma,sans-serif">
                                <span style="color:#006fc0">Interpretation / Defined Terms:</span>
                            </span>
                        </strong>
                    </span>
                </span>
            </li>
        </ol>
        <p style="margin-left:39px">
            <span style="font-size:11pt">
                <span style="font-family:Verdana,sans-serif">In this Agreement:</span>
            </span>
        </p>
        <ol>
            <li style="list-style-type:none">
                <ol>
                    <li><span style="font-size:11pt"><span style="font-family:Verdana,sans-serif">The paragraph headings
                                and numbering are for convenience only and shall be ignored in the interpretation of
                                this Agreement.</span></span></li>
                    <li><span style="font-size:11pt"><span style="font-family:Verdana,sans-serif">The singular includes
                                the plural and vice versa.</span></span></li>
                    <li><span style="font-size:11pt"><span style="font-family:Verdana,sans-serif">Reference to any
                                Agreement, enactment, ordinance, or regulation includes any amendment or replacement
                                thereof in whole or in part.</span></span></li>
                    <li><span style="font-size:11pt"><span style="font-family:Verdana,sans-serif">Reference to Articles,
                                paragraphs and Annexure are unless the context otherwise requires, references to
                                Articles, paragraphs, and Annexure respectively, of this Agreement.</span></span></li>
                    <li><span style="font-size:11pt"><span style="font-family:Verdana,sans-serif">The words "include"
                                and "including" shall be deemed to be followed by "without limitation" or "but not
                                limited to" whether they are followed by such phrases or words of like import and
                                export; and</span></span></li>
                    <li><span style="font-size:11pt"><span style="font-family:Verdana,sans-serif">Consultant: The
                                Individual that provides the consulting services to the service provider either as
                                independent consultant or through consulting company</span></span></li>
                    <li><span style="font-size:11pt"><span style="font-family:Verdana,sans-serif">Service Provider: the
                                Company, to which said services are being provided for the duration of the project by
                                consulting company.</span></span></li>
                    <li><span style="font-size:11pt"><span style="font-family:Verdana,sans-serif">Client: A
                                third-party organization that requests the SERVICE PROVIDER to provide temporary
                                project staffing and consulting services for its project(s)</span></span></li>
                </ol>
            </li>
        </ol>
        <p>&nbsp;</p>
        <ol start="2">
            <li>
                <span style="font-size:11pt">
                    <span style="font-family:Tahoma,sans-serif">
                        <span style="color:#006fc0">PURPOSE:</span>
                    </span>
                </span>
            </li>
        </ol>
        <p style="margin-left:39px; margin-right:24px">
            <span style="font-size:11pt">
                <span style="font-family:Verdana,sans-serif">The purpose of this Agreement is to stipulate the terms and
                    conditions pertaining to the provision of professional consultancy services by the Consultant to the
                    Service Provider in relation to services intended to be provided under this agreement. Annexure of
                    this Agreement details the Particular conditions of the contract relating to the consultancy
                    Agreement entered into between the Service Provider and the Consultant.
                </span>
            </span>
        </p>
        <p>&nbsp;</p>
        <ol start="3">
            <li>
                <span style="font-size:11pt">
                    <span style="font-family:Tahoma,sans-serif">
                        <span style="color:#006fc0">DESCRIPTION OF SERVICES:</span>
                    </span>
                </span>
            </li>
        </ol>
        <p style="margin-left:39px; margin-right:24px">
            <span style="font-size:11pt">
                <span style="font-family:Verdana,sans-serif">Upon being requested by the company, the consultant shall
                    furnish his professional services including but not limited to consultancies, advice and other
                    related services to the clients of the service provider (hereinafter cumulatively identified as
                    “Services”) which are morefully rendered in terms of the work statement contained under Annexure 1.
                </span>
            </span>
        </p>
        <p>&nbsp;</p>
        <ol start="4">
            <li>
                <span style="font-size:11pt">
                    <span style="font-family:Tahoma,sans-serif">
                        <span style="color:#006fc0">STATUS:</span>
                    </span>
                </span>
            </li>
        </ol>
        <p style="margin-left:39px; margin-right:24px">
            <span style="font-size:11pt">
                <span style="font-family:Verdana,sans-serif">During the term of this agreement, the Consultant shall be
                    an
                    independent contractor and shall not be an employee of the Service Provider. The Service provider
                    shall be entitled to exercise supervision over the details or methods of performance by the
                    consultant hereunder or to require adherence to specific procedures in performing services
                    hereunder. The Consultant shall be subject to rules or regulations applicable to the Service
                    Provider’s employees or any established work schedule or routine or other supervision of or
                    direction by the Service Provider, as to hours worked or otherwise, provided, however, that all
                    services rendered hereunder shall be so rendered to the satisfaction of the Service Provider. The
                    Consultant shall not have authority to obligate the Service Provider to any agreement or to exercise
                    any supervision or direction over the Service Provider’s employees since the Consultant is not an
                    employee of the Service Provider, the Consultant is not entitled to participate in any of the
                    Service Provider’s employee benefit plans or other programs.
                </span>
            </span>
        </p>
        <p>&nbsp;</p>
        <ol start="5">
            <li>
                <span style="font-size:11pt">
                    <span style="font-family:Tahoma,sans-serif">
                        <span style="color:#006fc0">Scope of work of the Consultant and performance:</span>
                    </span>
                </span>
            </li>
        </ol>
        <p>&nbsp;</p>
        <ol>
            <li style="list-style-type:none">
                <ol>
                    <li><span style="font-size:11pt"><span style="font-family:Verdana,sans-serif">The terms of reference
                                and/or the scope of work required of the Consultant are detailed in the Statement of
                                Work (SOW) Annexure I of this Agreement. The Consultantshall perform and/or execute the
                                consultancy and/or professional services detailed in the said annexure I to this
                                agreement diligently, with care, skillfully according to the accepted industry standards
                                and norms to the satisfaction of the Service Provider following agreed timelines in
                                order for the fulfillment and implementation of the obligations of the Service Provider
                                to its clients as understood and agreed by the consultant.</span></span></li>
                    <li><span style="font-size:11pt"><span style="font-family:Verdana,sans-serif">Any amendments to the
                                scope of work of the Consultant detailed in the said Annexure I of this Agreement shall
                                be done mutually executed in writing.</span></span></li>
                    <li><span style="font-size:11pt"><span style="font-family:Verdana,sans-serif">Both parties expressly
                                agree that the Service Provider has to its best knowledge and following the instructions
                                and/or documents and/or scope of itsconsultancy work as shared and/or informed to it,
                                has compiled and/or formulated the scope of work of the</span></span></li>
                </ol>
            </li>
        </ol>
        <p>&nbsp;</p>
        <p style="margin-left:63px">
            <span style="font-size:11pt">
                <span style="font-family:Verdana,sans-serif">Consultant
                    and the Consultant having perused the same has agreed to perform and/or execute the said scope of
                    work subject to the conditions herein agreed.
                </span>
            </span>
        </p>
        <ol>
            <li style="list-style-type:none">
                <ol start="4">
                    <li><span style="font-size:11pt"><span style="font-family:Verdana,sans-serif">In the event the
                                Consultant upon reviewing the consultancy services provided by the Service Provider to
                                its clients is of the opinion that such services should be modified and/or the
                                consultancy services of the Service Provider should be amended to extend the scope of
                                consultancy services which invariably affects the scope of work of the Consultant
                                notwithstanding anything stated in this agreement stated to the contrary Parties agree
                                to amend the scope of work of the Consultant detailed in Annexure I of this Agreement to
                                reflect such modification and/or amendment as imposed by the Consultant and consultancy
                                fees payable for such modified and/or amended additional work shall be mutually
                                discussed and agreed upon by the parties. For the avoidance of any doubt, Parties may
                                agree to execute any such agreement for additional payment of consultancy fees in
                                writing.</span></span></li>
                </ol>
            </li>
        </ol>
        <p>&nbsp;</p>
        <ol start="6">
            <li>
                <span style="font-size:11pt">
                    <span style="font-family:Tahoma,sans-serif">
                        <span style="color:#006fc0">Inventions, Discoveries or Improvements and Copyrights:</span>
                    </span>
                </span>
            </li>
        </ol>
        <p>&nbsp;</p>
        <ol>
            <li style="list-style-type:none">
                <ol>
                    <li><span style="font-size:11pt"><span style="font-family:Verdana,sans-serif">Consultant shall
                                report in writing the details of every invention, discovery or improvement made or
                                conceived by the consultant alone or in conjunction with others relating to subjects or
                                matters referred to in this agreement, or relating to arising out of or emanating from
                                services rendered under this agreement, the Consultant shall assist the Service Provider
                                in securing the intellectual property rights covering such intellectual property rights
                                in any and all countries and shall sign execute or have executed all papers needed in
                                applying for and obtaining any such intellectual property rights and shall sign and
                                deliver instruments of assignment of such intellectual property rights to the Service
                                provider, and the Service Provider shall be the rightful owner of such intellectual
                                property.</span></span></li>
                </ol>
            </li>
        </ol>
        <p>&nbsp;</p>
        <ol>
            <li style="list-style-type:none">
                <ol start="2">
                    <li style="text-align:justify"><span style="font-size:11pt"><span
                                style="font-family:Verdana,sans-serif">Consultant hereby assigns and agrees to assign to
                                the Service provider all of his rights, title and interests in and to all inventions
                                conceived or reduced to practice during the term of this agreement.</span></span></li>
                </ol>
            </li>
        </ol>
        <p>&nbsp;</p>
        <ol>
            <li style="list-style-type:none">
                <ol start="3">
                    <li><span style="font-size:11pt"><span style="font-family:Verdana,sans-serif">All work prepared by
                                the Consultant for the Service Provider, whether textual, graphic and electronic or
                                otherwise is a work for hire (hereinafter referred to as “Work”) in consideration of
                                fees paid under this agreement and other good and valuable consideration, receipt of
                                which is acknowledged.</span></span></li>
                </ol>
            </li>
        </ol>
        <p>&nbsp;</p>
        <ol>
            <li style="list-style-type:none">
                <ol start="4">
                    <li><span style="font-size:11pt"><span style="font-family:Verdana,sans-serif">Consultant assigns to
                                the Company all the Consultant’s interest in the Work and in any copyright that may
                                exist thereon if done for the company for the purpose of fulfilling the obligations of
                                the Consultant under this agreement, together with the right to secure renewals,
                                reissues and extensions of any such copyright. Such interest and right shall
                                be</span></span></li>
                </ol>
            </li>
        </ol>
        <p>&nbsp;</p>
        <p style="margin-left:63px; margin-right:24px">
            <span style="font-size:11pt">
                <span style="font-family:Verdana,sans-serif">held to the full end of the term for which the copyright or
                    any renewal or extension thereof is or may be granted.
                </span>
            </span>
        </p>
        <p>&nbsp;</p>
        <ol start="7">
            <li>
                <span style="font-size:11pt">
                    <span style="font-family:Tahoma,sans-serif">
                        <span style="color:#006fc0">Provisional period:</span>
                    </span>
                </span>
            </li>
        </ol>
        <p style="margin-left:39px; margin-right:24px">
            <span style="font-size:11pt">
                <span style="font-family:Verdana,sans-serif">The provisional period of the consultant is for one (1)
                    month
                    commencing from the date of execution of this agreement and shall not be extended upon the
                    expiration of such one- month period unless otherwise mutually agreed by the parties to have the
                    probationary period extended for another maximum period of one (1) month.
                </span>
            </span>
        </p>
        <p>&nbsp;</p>
        <ol start="8">
            <li>
                <span style="font-size:11pt">
                    <span style="font-family:Tahoma,sans-serif">
                        <span style="color:#006fc0">Fees, Charges, Taxes, etc.:</span>
                    </span>
                </span>
            </li>
        </ol>
        <p style="margin-left:39px; margin-right:24px">
            <span style="font-size:11pt">
                <span style="font-family:Verdana,sans-serif">In full consideration of the services and deliverables (if
                    any) rendered by the CONSULTANT, the SERVICE PROVIDER will compensate as per the charges agreed upon
                    for each assignment, and set forth in the written Work Statement(Annexure 1). It is understood that
                    SERVICE PROVIDER shall have no obligation under local, state, or federal laws regarding the
                    CONSULTANT’S professionals and that the total amount of liability of SERVICE PROVIDER regarding any
                    arrangement of work performed hereunder, is to pay the fees pursuant to provisions
                    hereunder.
                </span>
            </span>
        </p>
        <p>&nbsp;</p>
        <ol start="9">
            <li>
                <span style="font-size:11pt">
                    <span style="font-family:Tahoma,sans-serif">
                        <span style="color:#006fc0">Health Benefits:</span>
                    </span>
                </span>
            </li>
        </ol>
        <p style="margin-left:39px; margin-right:24px">
            <span style="font-size:11pt">
                <span style="font-family:Verdana,sans-serif">CONSULTANT performing services under this Agreement is not
                    entitled to any health benefits or otherwise from the SERVICE PROVIDER or the CLIENT, including
                    group insurance, liability insurance, disability insurance, retirement plan, premium "overtime" pay,
                    or any other benefit unless mentioned in Annexure 1. It is also agreed by both parties to this
                    contract that, the CONSULTANT expressly waives all such aforementioned benefits.
                </span>
            </span>
        </p>
        <p>&nbsp;</p>
        <ol start="10">
            <li>
                <span style="font-size:11pt">
                    <span style="font-family:Tahoma,sans-serif">
                        <span style="color:#006fc0">Taxes:</span>
                    </span>
                </span>
            </li>
        </ol>
        <p style="margin-left:39px; margin-right:24px">
            <span style="font-size:11pt">
                <span style="font-family:Verdana,sans-serif">The Consultant shall bear any taxes whatsoever arising out
                    of
                    the Consultant’s relationship with the service provider including but not limited to, all taxes
                    contributions assessed on income, any withholding taxes (states, local), social security taxes,
                    unemployment withholdings or other similar obligations on any payments made by the service provider
                    to the consultant hereunder. The consultant shall indemnify and shall hold the company harmless from
                    any taxes, duties or governmental charges assessed against the Consultant’s tax responsibilities
                    arising in his home country.
                </span>
            </span>
        </p>
        <p>&nbsp;</p>
        <ol start="11">
            <li>
                <span style="font-size:11pt">
                    <span style="font-family:Tahoma,sans-serif">
                        <span style="color:#006fc0">Payment:</span>
                    </span>
                </span>
            </li>
        </ol>
        <p style="margin-left:39px; margin-right:15px">
            <span style="font-size:11pt">
                <span style="font-family:Verdana,sans-serif">CONSULTANT will be paid in accordance with the terms of the
                    Work Statement (as demonstrated in Annexure 1) and shall not be entitled to any other form of
                    compensation (including benefits) by SERVICE PROVIDER or any other party. &nbsp;CONSULTANT shall
                    invoice SERVICE PROVIDER for the consulting services performed upon receipt of the time-sheet on a
                    Monthly basis. &nbsp;Any fixed payment of the Consultant is subjected to be revised
                    annually.
                </span>
            </span>
        </p>
        <p>&nbsp;</p>
        <ol start="12">
            <li>
                <span style="font-size:11pt">
                    <span style="font-family:Tahoma,sans-serif">
                        <span style="color:#006fc0">Travel, Living and other Costs:</span>
                    </span>
                </span>
            </li>
        </ol>
        <p style="margin-left:39px">
            <span style="font-size:11pt">
                <span style="font-family:Verdana,sans-serif">SERVICE
                    PROVIDER will not pay the CONSULTANT’s local travel expenses, living expenses, entertainment
                    expenses or any other costs unless required to travel to clients’ locations.
                </span>
            </span>
        </p>
        <p>&nbsp;</p>
        <ol start="13">
            <li>
                <span style="font-size:11pt">
                    <span style="font-family:Tahoma,sans-serif">
                        <span style="color:#006fc0">Term:</span>
                    </span>
                </span>
            </li>
        </ol>
        <p style="margin-left:39px; margin-right:24px">
            <span style="font-size:11pt">
                <span style="font-family:Verdana,sans-serif">This Agreement has a term of twelve (12) months. This
                    contract will be renewed by prior notice given by the Service Provider to the Consultant one month
                    before the contract ends.
                </span>
            </span>
        </p>
        <p>&nbsp;</p>
        <ol start="14">
            <li>
                <span style="font-size:11pt">
                    <span style="font-family:Tahoma,sans-serif">
                        <span style="color:#006fc0">Termination:</span>
                    </span>
                </span>
            </li>
        </ol>
        <ol>
            <li>
                <span style="font-size:11pt">
                    <span style="font-family:Verdana,sans-serif">SERVICE PROVIDER may terminate
                        this Agreement where CLIENT no longer wishes to use the services of CONSULTANT, the agreement
                        between SERVICE PROVIDER and CLIENT terminates, or SERVICE PROVIDER ceases to provide
                        information technology staffing services to its CLIENT.
                    </span>
                </span>
            </li>
        </ol>
        <p>&nbsp;</p>
        <ol>
            <li style="list-style-type:none">
                <ol start="2">
                    <li>
                        <span style="font-size:11pt">
                            <span style="font-family:Verdana,sans-serif">In the event of
                                termination, the service provider undertakes to provide 30 days prior notice in the
                                event of terminating this agreement on any of the grounds stated above. In the event,
                                that this agreement is to be terminated during the probationary period of the
                                consultant, the notice period mentioned herein shall not be applicable.
                            </span>
                        </span>
                    </li>
                </ol>
            </li>
        </ol>
        <p>&nbsp;</p>
        <ol>
            <li style="list-style-type:none">
                <ol start="3">
                    <li>
                        <span style="font-size:11pt">
                            <span style="font-family:Verdana,sans-serif">Without prejudice to
                                the SERVICE PROVIDER’S right to terminate the services of the CONSULTANT as agreed by
                                both parties to this agreement, the SERVICE PROVIDER acknowledges that it shall not by
                                any means directly or indirectly induce and/or attempt to induce the CONSULTANT to
                                prematurely terminate this agreement for the duration of this agreement or for a period
                                of two (02) years, whichever the period is low.
                            </span>
                        </span>
                    </li>
                </ol>
            </li>
        </ol>
        <p>&nbsp;</p>
        <ol start="15">
            <li>
                <span style="font-size:11pt">
                    <span style="font-family:Tahoma,sans-serif">
                        <span style="color:#006fc0">Notice Period:</span>
                    </span>
                </span>
            </li>
        </ol>
        <p style="margin-left:39px; margin-right:24px">
            <span style="font-size:11pt">
                <span style="font-family:Verdana,sans-serif">CONSULTANT may terminate this Agreement at any time by
                    giving
                    the SERVICE PROVIDER written notice of not less than ninety (90) days. CONSULTANT must complete all
                    allocated tasks before the end of the notice period. Non-performance or complaints during the notice
                    period may result in immediate termination. The consultant undertakes to refrain from applying for
                    any non-medical leave during the notice period mentioned herein, since only medical leave is
                    considered legitimate provided the same is supported with legitimate documentation. Any other Leave
                    taken during the said Notice period would be considered as leave without pay.
                </span>
            </span>
        </p>
        <p>&nbsp;</p>
        <ol start="16">
            <li><span style="font-size:11pt"><span style="font-family:Tahoma,sans-serif"><span
                            style="color:#006fc0">Compliance with Law and ethics:</span></span></span>
                <ol>
                    <li><span style="font-size:11pt"><span style="font-family:Verdana,sans-serif">Consultant shall
                                comply with all applicable laws and regulations in the course of his activities on the
                                Service Provider’s behalf and shall filer periodic reports of his activities including
                                identification of all Principals and Sub-agents, without limiting the generality of the
                                foregoing, Consultant shall not discriminate against any employees or applicants for
                                employment because of race, religion, color, nationality or gender.</span></span></li>
                </ol>
            </li>
        </ol>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <ol>
            <li style="list-style-type:none">
                <ol start="2">
                    <li><span style="font-size:11pt"><span style="font-family:Verdana,sans-serif">The Consultant shall
                                exercise reasonable care and diligence to prevent any actions or conditions that could
                                result in a conflict with the best interest of the Service Provider or any of the
                                affiliated, related or subsidiary entities. This obligation shall be imposed on the
                                consultant’s activities including but not limited to establishing standards, procedures
                                and controls to prevent the consultant’s employees or agents from making, receiving,
                                providing or offering substantial gifts, extravagant entertainment, payments, loans or
                                other consideration for the purpose of influencing individuals to act contrary to the
                                best interest of the Service Provider or its affiliated or related
                                subsidiaries.</span></span></li>
                </ol>
            </li>
        </ol>
        <p>&nbsp;</p>
        <ol>
            <li style="list-style-type:none">
                <ol start="3">
                    <li><span style="font-size:11pt"><span style="font-family:Verdana,sans-serif">Mindful of the
                                Principles of law prohibition corrupt practices, the consultant shall not make or
                                authorize any payment or give anything of value directly or indirectly to an official of
                                any government for the purpose of influencing an act or decision of official capacity or
                                for assisting in obtaining or retaining business for or with, or for the direction of
                                the business to any person.</span></span></li>
                </ol>
            </li>
        </ol>
        <p>&nbsp;</p>
        <ol>
            <li style="list-style-type:none">
                <ol start="4">
                    <li><span style="font-size:11pt"><span style="font-family:Verdana,sans-serif">Without limiting the
                                generality of the foregoing or the effect of any other provision of this Agreement, and
                                to the extent the Consultant performs any of the services or obtains any goods or
                                services required under this Agreement in or from a foreign country;</span></span>
                        <ol style="list-style-type:lower-alpha">
                            <li><span style="font-size:11pt"><span style="font-family:Verdana,sans-serif">The Consultant
                                        represents that, in particular, it is familiar with the prohibitions against
                                        paying or giving anything of value either directly or indirectly, to foreign
                                        officials, candidates or political parties for the purpose of securing any
                                        improper advantage for a company, including assisting a company in obtaining or
                                        retaining business.</span></span></li>
                            <li><span style="font-size:11pt"><span style="font-family:Verdana,sans-serif">b) The
                                        Consultant shall not make any offer, payment, promise to pay, gift or promise to
                                        give money or anything of value, or shall not authorize another who is to act on
                                        behalf of the Consultant to offer, pay, promise to pay, gift or promise to give,
                                        to any government official, any political party or official thereof, any
                                        candidate for political office, an official of a public international
                                        organization or any other person.</span></span></li>
                        </ol>
                    </li>
                </ol>
            </li>
        </ol>
        <p>&nbsp;</p>
        <ol start="17">
            <li>
                <span style="font-size:11pt">
                    <span style="font-family:Tahoma,sans-serif">
                        <span style="color:#006fc0">Covenant:</span>
                    </span>
                </span>
            </li>
        </ol>
        <p style="margin-left:39px; margin-right:15px">
            <span style="font-size:11pt">
                <span style="font-family:Verdana,sans-serif">During Consultation, the CONSULTANT agrees not to engage
                    with
                    any other Client directly or indirectly except in the performance work stipulated in Annexure 1
                    and/or as may be allocated by SERVICE PROVIDER. During the term of this Agreement, during any
                    renewed period thereof, and for a period of 36 months after the expiration of the contractual period
                    (either the original or renewed period as may be applicable) in the CONSULTANT agrees that it shall
                    not (a) cause its personnel or subcontractors who previously provided services to the CLIENT on
                    behalf of SERVICE PROVIDER pursuant to this Agreement to provide any services to CLIENT; or (b)
                    directly or indirectly solicit CLIENT’S business through any means. In the event of any breach of
                    this agreement, the SERVICE PROVIDER is entitled to claim AED 100,000 as liquidated damages to
                    compensate the loss arising from such breach.
                </span>
            </span>
        </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <ol start="18">
            <li>
                <span style="font-size:11pt">
                    <span style="font-family:Tahoma,sans-serif">
                        <span style="color:#006fc0">Confidentiality:</span>
                    </span>
                </span>
            </li>
        </ol>
        <ol>
            <li>
                <span style="font-size:11pt">
                    <span style="font-family:Verdana,sans-serif">The PARTIES agree that during
                        and for a period of one (1) year after the term of this Agreement, the PARTIES shall safeguard
                        the confidentiality of any information obtained in the performance of this Agreement and
                        generally, all intellectual property rights of the other Party to this Agreement which such
                        party has become aware of and/or possessed of under this Agreement.
                    </span>
                </span>
            </li>
        </ol>
        <p>&nbsp;</p>
        <ol>
            <li style="list-style-type:none">
                <ol start="2">
                    <li>
                        <span style="font-size:11pt">
                            <span style="font-family:Verdana,sans-serif">The PARTIES agree to
                                keep all material terms and conditions of this Agreement confidential and the consultant
                                agrees further to maintain the confidentiality of and to refrain from using the Service
                                Provider’s Proprietary Information for any purpose other than as necessary to achieve
                                the specified purposes in this Agreement. In the same manner, the Service Provider
                                agrees to maintain the confidentiality of and to refrain from using the consultant’s
                                Proprietary Information for any purpose other than as necessary to perform its
                                obligations under this Agreement.
                            </span>
                        </span>
                    </li>
                </ol>
            </li>
        </ol>
        <p>&nbsp;</p>
        <ol>
            <li style="list-style-type:none">
                <ol start="3">
                    <li>
                        <span style="font-size:11pt">
                            <span style="font-family:Verdana,sans-serif">Except as otherwise
                                provided, disclosure may be required to partners, shareholders, directors, officers and
                                employees of each PARTY, or to obtain the advice of professionals or consultants for the
                                purposes of this Agreement, or to procure investors and/or lenders for the projects
                                referred to in this Agreement, or as may be required by law or by the order of any
                                government, governmental unit, or tribunal, each Party shall exercise all reasonable
                                efforts to ensure that the other PARTY’s Proprietary Information shall not be disclosed
                                to the media or to any third party or entity without the prior consent of the other
                                PARTY.
                            </span>
                        </span>
                    </li>
                </ol>
            </li>
        </ol>
        <p>&nbsp;</p>
        <ol start="19">
            <li>
                <span style="font-size:11pt">
                    <span style="font-family:Tahoma,sans-serif">
                        <span style="color:#006fc0">Force Majeure:</span>
                    </span>
                </span>
            </li>
        </ol>
        <p style="margin-left:39px; margin-right:29px">
            <span style="font-size:11pt">
                <span style="font-family:Verdana,sans-serif">Any delay or failure in the performance by either Party
                    hereunder shall be excused if and to the extent caused by the occurrence of a Force Majeure. For
                    purposes of this Agreement, Force Majeure shall mean a cause or event that is not reasonably
                    foreseeable or otherwise caused by or under the control of the Party claiming Force Majeure,
                    including acts of God, fires, floods, explosions, riots, wars, hurricane, sabotage terrorism,
                    vandalism, accident, restraint of government, governmental acts, injunctions, labor strikes, and
                    other like events that are beyond the reasonable anticipation and control of the Party affected
                    thereby, despite such Party's reasonable efforts to prevent, avoid, delay, or mitigate the effect of
                    such acts, events or occurrences, and which events or the effects thereof are not attributable to a
                    Party's failure to perform its obligations under this Agreement.
                </span>
            </span>
        </p>
        <p>&nbsp;</p>
        <ol start="20">
            <li><span style="font-size:11pt"><span style="font-family:Tahoma,sans-serif"><span
                            style="color:#006fc0">Arbitration/ Dispute Resolution:</span></span></span>
                <ol>
                    <li style="text-align:justify"><span style="font-size:11pt"><span
                                style="font-family:Verdana,sans-serif">All disputes arising out of or in connection with
                                the present Contract shall be submitted to the Dubai International Arbitration Centre
                                and its applicable rules and the parties hereby submit to the exclusive jurisdiction of
                                the Dubai International Arbitration Centre</span></span></li>
                </ol>
            </li>
        </ol>
        <p>&nbsp;</p>
        <ol>
            <li style="list-style-type:none">
                <ol start="2">
                    <li>
                        <span style="font-size:11pt">
                            <span style="font-family:Verdana,sans-serif">The Place and Language
                                of Arbitration shall be as follows:
                            </span>
                        </span>
                    </li>
                </ol>
            </li>
        </ol>
        <p>&nbsp;</p>
        <ol style="list-style-type:lower-alpha">
            <li><span style="font-size:11pt"><span style="font-family:Verdana,sans-serif">The arbitration shall be held
                        in Dubai, at the Dubai International Arbitration Center to be presided over by one (1)
                        Arbitrator/sole Arbitrator</span></span></li>
            <li><span style="font-size:11pt"><span style="font-family:Verdana,sans-serif">The arbitration shall be
                        conducted in the English language and the award of any arbitration, together with reasons for
                        the determination, shall be in writing also in the English language.</span></span></li>
        </ol>
        <p>&nbsp;</p>
        <ol start="21">
            <li><span style="font-size:11pt"><span style="font-family:Tahoma,sans-serif"><span
                            style="color:#006fc0">Governing Laws:</span></span></span></li>
        </ol>
        <p style="margin-left:39px; margin-right:24px">
            <span style="font-size:11pt">
                <span style="font-family:Verdana,sans-serif">This Agreement is made and entered into by the parties in
                    the
                    UAE and shall be construed according to the laws of DIFC Laws. All and any dispute arising out of or
                    in connection with this agreement or as to the rights or liabilities of the parties herein shall be
                    settled by DIFC Courts.
                </span>
            </span>
        </p>
        <p>&nbsp;</p>
        <ol start="22">
            <li>
                <span style="font-size:11pt">
                    <span style="font-family:Tahoma,sans-serif">
                        <span style="color:#006fc0">Rights to Development:</span>
                    </span>
                </span>
            </li>
        </ol>
        <p style="margin-left:39px; margin-right:83px; text-align:justify">
            <span style="font-size:11pt">
                <span style="font-family:Verdana,sans-serif">All software documentation, modifications to software or
                    documentation and other products developed by/for the SERVICE PROVIDER or their representatives
                    under this Agreement shall be the sole property of the SERVICE PROVIDER or its
                    CLIENTS.
                </span>
            </span>
        </p>
        <p>&nbsp;</p>
        <ol start="23">
            <li>
                <span style="font-size:11pt">
                    <span style="font-family:Tahoma,sans-serif">
                        <span style="color:#006fc0">Breach:</span>
                    </span>
                </span>
            </li>
        </ol>
        <p style="margin-left:39px; margin-right:24px">
            <span style="font-size:11pt">
                <span style="font-family:Verdana,sans-serif">Any breach of any provision of this Agreement by CONSULTANT
                    or its personnel entitles SERVICE PROVIDER to recover from the CONSULTANT damages reflecting the
                    damage sustained from such breach. Further, the Consultant acknowledges the Service Provider’s right
                    to pursue any available injunctive relief as interim measures. If SERVICE PROVIDER is successful in
                    recovering damages or obtaining injunctive relief, CONSULTANT agrees to be responsible for paying
                    all SERVICE PROVIDER S' expenses in seeking such relief, including all costs of bringing suit and
                    all reasonable legal fees.
                </span>
            </span>
        </p>
        <ol start="24">
            <li>
                <span style="font-size:11pt">
                    <span style="font-family:Tahoma,sans-serif">
                        <span style="color:#006fc0">Contractual Penalty:</span>
                    </span>
                </span>
            </li>
        </ol>
        <p style="margin-left:39px; margin-right:24px">
            <span style="font-size:11pt">
                <span style="font-family:Verdana,sans-serif">In the event of any breach of this contract by the Consultant
                    and/or committing any act which repudiates this agreement, the Service provider is entitled to
                    liquidated damages amounting to AED 30,000 together with the Service provider’s right to claim
                    damages in regards to any losses sustained
                    <span style="color:#5b9bd4">.</span>
                </span>
            </span>
        </p>
    </div>
</div>