<div class="pageHeadings">
    <span class="page-heading2">{{'Travel Desk'}} &nbsp;<span class="subpage-heading2">/&nbsp;{{'View Travel Request Status'}}</span></span>
    <hr>
   </div>

<!-- <form>
    <div class="card wrapperCard wrapper-main" id="cantainer">
        
        <div class="card-body">
            <div class="row"><div class="form-group custom-form col-md-3 col-sm-6">
                <label>{{"Travel Request Date"}}</label>
                <input type="text"
                placeholder="Datepicker"
                class="form-control"
                bsDatepicker
                placement="bottom"
                [bsConfig]="{dateInputFormat: 'MM/DD/YYYY',showWeekNumbers: false, isAnimated: false }" 
                name="createdDate" 
                [(ngModel)]="viewTravelDate" 
                (bsValueChange)="search($event)"
                [maxDate] = "maxDate"
                >
            </div>
        </div>
        <br>
            
            
           
        </div>
    </div>
</form> -->


