<!-- <div class="pageHeadings">
    <span class="page-heading2">{{'Travel Desk'}} &nbsp;<span class="subpage-heading2">/&nbsp;{{'Demo Page'}}</span></span>
    <hr>
</div> -->

<div class="row">
    <div class="col col-md-2 col-12 ">
        <div class="card" style="height: 804px;">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  Accordion Item #1
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">{{'Sub Item #1'}}</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  Accordion Item #2
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">{{'Sub item #2'}}</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  Accordion Item #3
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">{{'Sub item #3'}}</div>
              </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    Accordion Item #4
                  </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">{{'SUb item #4'}}</div>
                </div>
            </div>
              
          </div>
        </div>
    </div>
    <div class="col col-md-8 col-12" style="border: 0px solid;">
        <div class="row">
            <div class="col col-sm-2 col-12">
                <div class="card hoverCard"><label>{{"One"}}</label></div>
            </div>
            <div class="col col-sm-2 col-12">
                <div class="card hoverCard"><label>{{"Two"}}</label></div>
            </div>
            <div class="col col-sm-2 col-12">
                <div class="card hoverCard"><label>{{"Three"}}</label></div>
            </div>
            <div class="col col-sm-2 col-12">
                <div class="card hoverCard"><label>{{"Four"}}</label></div>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-2 col-12">
                <div class="card hoverCard"><label>{{"Five"}}</label></div>
            </div>
            <div class="col col-sm-2 col-12">
                <div class="card hoverCard"><label>{{"Six"}}</label></div>
            </div>
            <div class="col col-sm-2 col-12">
                <div class="card hoverCard"><label>{{"Seven"}}</label></div>
            </div>
            <div class="col col-sm-2 col-12">
                <div class="card hoverCard"><label>{{"Eight"}}</label></div>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-2 col-12">
                <div class="card hoverCard"><label>{{"Nine"}}</label></div>
            </div>
            <div class="col col-sm-2 col-12">
                <div class="card hoverCard"><label>{{"Ten"}}</label></div>
            </div>
            <div class="col col-sm-2 col-12">
                <div class="card hoverCard"><label>{{"Eleven"}}</label></div>
            </div>
            <div class="col col-sm-2 col-12">
                <div class="card hoverCard"><label>{{"Twelve"}}</label></div>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-4 col-12">
                <div class="card img"><img src="assets/icons/angular-15-1.jpg"></div>
            </div>
            <div class="col col-sm-4 col-12">
                <div class="card img"><img src="assets/icons/angular-15-1.jpg"></div>
            </div>
            <div class="col col-sm-4 col-12">
                <div class="card img"><img src="assets/icons/angular-15-1.jpg"></div>
            </div>
           
        </div>

    </div>

    <div class="col col-md-2 col-12" style="padding: 0px;">
        <div class="row">
            <div class="card ss" style="margin: 0px; margin-bottom: 24px;">
                <ul>
                    <li>{{'Angular'}}</li>
                    <li>{{'Java'}}</li>
                    <li>{{'HTMl'}}</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="card ss" style="margin: 0px; margin-bottom: 24px;">
                <ul>
                    <li>{{'Angular'}}</li>
                    <li>{{'Java'}}</li>
                    <li>{{'HTMl'}}</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="card ss" style="margin: 0px;">
                <ul>
                    <li>{{'Angular'}}</li>
                    <li>{{'Java'}}</li>
                    <li>{{'HTMl'}}</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- <div class="col col-sm-1 col-12 card"></div>
    <div class="col col-sm-1 col-12 card"></div>
    <div class="col col-sm-1 col-12 card"></div>
    <div class="col col-lg-2 col-12 card"></div> -->
</div>
