body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.menu-container {
    position: relative;
}

.right-menu {
    position: fixed;
    right: -180px;
    /* Initially hidden */
    top: 0;
    width: 180px;
    height: 120%;
    //background-color: #0A3158;
    color: white;
    transition: right 0.3s ease-in-out;
    padding: 10px;
    z-index: 1;
    border: 1px solid rgba(0, 0, 0, 0.17);
    background: rgb(255, 255, 255) !important;

}

.right-menu ul {
    list-style: none;
    padding: 0;
}


.right-menu ul li a {
    // color: #337ab7;
    text-decoration: none;
    font-size: 14px;
}

.right-menu ul li a :hover {
    text-decoration: underline !important;
}

.open-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px;
    background-color: #0A3158;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    color: white;
    font-size: 30px;
    border: none;
    cursor: pointer;
}

.card {
    width: 17rem;
   // border: 1px solid;
    padding: 10px;
    margin-top: 35%;
    .card-header {
        font-family: 'FrutigerLTArabic-65Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        margin-bottom: 0 !important;
    }

    .card-body {
        ul{
            li{
                p{
                    strong{
                        font-family: 'FrutigerLTArabic-65Bold';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 27px;
                        margin-bottom: 0px !important;
                    }
                }
            }
        }
        p , a{
            font-family: 'Frutiger-LT-Arabic-55-Roman';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 27px;
        margin-bottom: 0px !important;
        }
        a{
            text-decoration: underline !important;
        }
    }
}

a:hover{
    color: blue !important;
    text-decoration: underline;
}