@import '../../../../itcss/01-settings.scss';
::ng-deep #gridContainer{
    .dx-datagrid-borders > .dx-datagrid-filter-panel, .dx-datagrid-borders > .dx-datagrid-headers {
        border-bottom: 1px solid $cyan-blue !important;
        
    }
    .dx-datagrid .dx-data-row > td.highlight {
       // background-color: yellow;
    }

    .dx-datagrid .dx-row>td.highlight{
        //  color: $aquaGreen !important;
          font-size: 14px;
          line-height: 27px;
          font-weight: 400;
          font-family: 'Frutiger-LT-Arabic-55-Roman';
        //  cursor:pointer
        div{
          a{
              span{
                  padding-right: 12px;
              }

              span.spanning {
                color: green !important;
            }
    
          }
        }
    }

    
}
    



