.paymentDeadline {
    border: 2px solid rgba(116, 124, 145, 0.3);
    padding: 22px 42px;
    border-radius: 4px;
    margin: 0px 0px 36px 0px;
}

.paymentDetails {
    position: relative;
    top: 12px;
    left: 25px;
    display: inline;
    padding: 0px 10px;
    z-index: 1;
    background: white;
    font-size: 18px;
    font-weight: 700 !important;
    color: #1d1556;
    font-family: "FrutigerLTArabic-65Bold" !important;
    line-height: 31px !important;
}

.block-20 {
    height: 20px;
}

.Submit {
    font-family: "Frutiger-LT-Arabic-55-Roman";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 31px !important;
}

.between-stretch {
    margin-bottom: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 24px;
    padding-left: 0px;

    label.expense {
        font-size: 18px;
        font-weight: 700 !important;
        color: #1d1556;
        font-family: "FrutigerLTArabic-65Bold" !important;
        margin-left: 0px;
        padding-top: 18px;
    }

}


.plus {
    padding: 0px;
    height: 30px;
    width: 33px;
    min-width: 15px;
    border-radius: 200px;
    border: 3px solid #2bec1b;
    font-size: 24px;
    color: #2bec1b;
    padding-bottom: 4px;

    i.fa.fa-plus {
        font-size: 18px;
    }
}

.minus {
    padding: 0px;
    height: 30px;
    /* width: 0px; */
    // min-width: 33px;
    width: 33px;
    min-width: 15px;
    border-radius: 200px;
    border: 3px solid red;
    font-size: 24px;
    padding-bottom: 4px;
    color: red;

    i.fa.fa-plus {
        font-size: 18px;
    }
}

.table {
    margin-bottom: 12px;
    border: 1px solid rgba(116, 124, 145, 0.3);

    td,
    th {
       // max-width: 150px !important;
    }

    thead tr {
        background: #FFFFFF;
        border-bottom: 2px solid #3498DB;
        box-shadow: 0px 2px 10px rgba(61, 85, 128, 0.1);
        color: #1D1556;
        height: 50px;

        th {
            //border: 1px solid rgba(116, 124, 145, 0.3);
        }
    }

    td {
        // padding: 1.75rem 0.75rem;
        border: none;
        //   border: 1px solid rgba(116, 124, 145, 0.3);

        input {
            border: none;
            //border-bottom: 1px solid #dedede !important;
            height: 20px;
            margin: 0px;
            padding: 0px;
        }

        input:focus,
        textarea:focus {
            //  border: 1px solid #1670BE;
            // box-shadow: 0 0 3px #1670BE;
            outline-offset: 0px;
            outline: none;
        }

        select {
            width: none !important;
            border: none;
            border-bottom: 1px solid #dedede;
            margin-top: -14px;
            font-size: 14px;
            margin: 0px;
            margin-top: -13px;
            padding-left: 0px;
            padding-right: 47px;
            height: 25px;
            cursor: pointer;
            ;
        }

        select:focus,
        textarea:focus {
            //  border: 1px solid #1670BE;
            // box-shadow: 0 0 3px #1670BE;
            outline-offset: 0px;
            outline: none;
        }
    }
}

.total {
    background: #FFFFFF;
    // border-bottom: 2px solid #3498DB;

    box-shadow: 0px 2px 10px rgba(61, 85, 128, 0.1);

    .col {
        font-family: "Frutiger-LT-Arabic-55-Roman";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
    }
}

.d-flex {
    justify-content: end;
    display: flex !important;
}

table {
    border: 1px solid rgba(116, 124, 145, 0.3);

    td,
    th {
      //  max-width: 150px !important;
        //  border: 1px solid rgba(116, 124, 145, 0.3);
    }

}

.submission {
    text-align: center;
    justify-content: center;
    padding: 24px;
    // border: 1px solid black;
    border: 0.5px solid rgba(116, 124, 145, 0.231713);
    box-shadow: 0px 2px 10px rgba(61, 85, 128, 0.1);
    font-family: "Frutiger-LT-Arabic-55-Roman";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    border-radius: 6px;
}


#file-upload-button {
    overflow: hidden;
    position: relative;
    margin: 0px;
    background: transparent;
    pointer-events: none;
    &::before {
        content: '⇪';
        color: black;
        font-size: 26px;
        text-align: center;
        font-weight: 800;
        position: relative;
        bottom: 3px;
       // pointer-events: auto;
       // cursor: pointer;
    }

    input[type="file"] {
        font-size: 100px;
        left: 34px;
        opacity: 0;
        position: absolute;
        top: 10px;
        width: 15px;
        pointer-events: auto;
        cursor: pointer;
    }
}

// #fileInput{
//     display: none;
//   }
//   #icon{
//     width: 20px;
//     cursor: pointer; 
//   }
.total {
    font-weight: 700 !important;
    color: #1d1556;
    font-family: "FrutigerLTArabic-65Bold" !important;
}

table {
    input {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    input:focus,
    textarea:focus {
        //  border: 1px solid #1670BE;
        // box-shadow: 0 0 3px #1670BE;
        outline-offset: 0px;
        outline: none;
    }

    tbody {
        tr {
            td {

                .form-select {
                    margin-top: 1px;
                    background-color: #FFFFFF;
                    color: #cfd1d7;
                    border: 1px solid rgba(116, 124, 145, 0.3);
                    border-radius: 6px;
                    height: 50px;
                    font-family: "Frutiger-LT-Arabic-55-Roman";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 31px;
                    margin: 0px;
                }
                .inputCls{
                    background: #FFFFFF;
                    border: 1px solid rgba(116, 124, 145, 0.3);
                    border-radius: 6px;
                    box-sizing: border-box;
                    height: 45px;
                    font-family: "Frutiger-LT-Arabic-55-Roman";
                    vertical-align: middle !important;
                    background-color: #FFFFFF !important;
                    overflow: hidden !important;
                    text-overflow: ellipsis !important;
                    color: #747C91 !important;
                    opacity: 1;
                    font-weight: 500;
                    font-size: 16px !important;
                    margin: 0px;
                    width: 50% !important;
                }
            }
        }
    }

    .modal-dialog{
        .modal-body{
            max-height: 500px;
            overflow: hidden;
            overflow-y: scroll;
        }
    }

}

#deductTable{
    thead {
        th:nth-child(1){
            width: 60% !important;
            max-width: 60% !important;
            text-align: left;
        }
        th:nth-child(2){
            width: 10% !important;
            max-width: 10% !important;
            text-align: right;
        }
        th:nth-child(3){
            width: 20% !important;
            max-width: 20% !important;
            text-align: left;
         //   padding-left: 20px;
        }
        th:nth-child(4){
            width: 10% !important;
            max-width: 10% !important;
            text-align: right;
        }
    }
    tr {
        td:nth-child(1){
            width: 60% !important;
            max-width: 60% !important;
            text-align: left;

            .row{
                .col-md-8{
                   // width: 60% !important;
                }
            }
        }
        td:nth-child(2){
            width: 10% !important;
            max-width: 10% !important;
            text-align: right;
            div{
                margin-top: 15px;
                background-color: transparent !important;
            }
        }
        td:nth-child(3){
            width: 20% !important;
            max-width: 20% !important;
          //  text-align: right;
            input{
                margin-top: 16px;
            }
            //padding-left: 20px;
        }
        td:nth-child(4){
            width: 10% !important;
            max-width: 10% !important;
            text-align: right;
            input{
                margin-top: 16px;
            }
        }
    }
}
::ng-deep .bs-datepicker-body table td span.custom-selected-date,
::ng-deep .bs-datepicker-body table td span.custom-selected-date.selected {
  background-color: #2A235F !important;
  color: white !important;
}

::ng-deep .bs-datepicker-body table td span.selected {
  background-color: #2A235F !important;
  color: white !important;
}

::ng-deep .bs-datepicker-body table.days span.in-range:before {
 // background-color: transparent !important;
}
    
.deductCls{
    background: #FFFFFF;
    border: 1px solid rgba(116, 124, 145, 0.3);
    border-radius: 6px;
    box-sizing: border-box;
    height: 45px;
    font-family: "Frutiger-LT-Arabic-55-Roman";
    vertical-align: middle !important;
    background-color: #FFFFFF !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    color: #747C91 !important;
    opacity: 1;
    font-weight: 500;
    font-size: 16px !important;
    margin: 0px;
    width: 50% !important;
}

input#deductDP {
    background: #FFFFFF;
    border: 1px solid rgba(116, 124, 145, 0.3);
    border-radius: 6px;
    box-sizing: border-box;
    height: 50px;
    font-family: "Frutiger-LT-Arabic-55-Roman";
    vertical-align: middle !important;
    background-color: #FFFFFF !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    color: #747C91 !important;
    opacity: 1;
    font-weight: 500;
    font-size: 16px !important;
    margin: 0px;
    padding: 10px;
}

input#unpaidOthers, input#offshore{
    background: #FFFFFF;
    border: 1px solid rgba(116, 124, 145, 0.3);
    border-radius: 6px;
    box-sizing: border-box;
    height: 50px;
    font-family: "Frutiger-LT-Arabic-55-Roman";
    vertical-align: middle !important;
    background-color: #FFFFFF !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    color: #747C91 !important;
    opacity: 1;
    font-weight: 500;
    font-size: 16px !important;
    margin: 0px;
}

#input-wrapper {
    position: relative;
    display: r;

    .input-currency {
        position: absolute;
        left: 52%;
        line-height: 1em;
        font-size: 30px;
        background: transparent;
        top: 12px;
        color: red;
      }
      input {
        padding-left: 16px;
        font-size: 1em;
        direction: rtl;
      }      
  }

  ::ng-deep .bs-datepicker.dark-blue {
    .bs-datepicker-body table td span.custom-selected-date, .bs-datepicker-body table td span.custom-selected-date.selected {
      background-color: #2A235F !important;
      color: white !important;
      width: 30px !important;
      height: 30px !important;
      margin-bottom: 10px;
    }
  }


  ::ng-deep bs-datepicker-container.bottom{
     //transform: translate3d(112px, 384px, 0px) !important;
   
    .bs-datepicker.green{
     left: -1%;
   }
   
     .bs-datepicker.dark-blue {
       left: 17%;
   }
   
     }
   
     ::ng-deep bs-daterangepicker-container{
      // transform: translate3d(453px, 385px, 0px) !important;
   }

   ::ng-deep bs-datepicker-container{
   // transform: translate3d(112px, 383px, 0px) !important;
   }

 .marginTop10{
    margin-top: 10px;
 }

 .padding{
    padding-left: 0px;
    padding-right: 0px;
    font-weight: 700 !important;
    font-family: "Frutiger-LT-Arabic-55-Roman" !important;
    font-size: 13px;
    line-height: 31px !important;
    color: #747C91;
 }

 .width{
    // width: 39.33%
 }

 .padding-left{
    padding-left: 20px;
    font-weight: 400 !important;
    font-family: "Frutiger-LT-Arabic-55-Roman" !important;
    font-size: 12px;
    line-height: 31px !important;
    color: #747C91;
}

.radioStyle{
    height: 15px !important;
    width: 15px;
    border: 1px solid black !important;
    margin-top: 8px !important;
}

.transparent{
    background-color: transparent !important;
}

#expensesTable{
    tr {
        td:nth-child(1){
            width: 50% !important;
            max-width: 50% !important;
            text-align: left;

        }
        td:nth-child(2){
            width: 20% !important;
            max-width: 20% !important;
            text-align: right;
            div{
                margin-top: 0px;
                background-color: transparent !important;
            }
        }
      
        td:nth-child(3){
            width: 20% !important;
            max-width: 20% !important;
            text-align: right;
            input{
                margin-top: 0px;
            }
            //padding-left: 20px;
        }
        td:nth-child(4){
            width: 10% !important;
            max-width: 10% !important;
            text-align: right;
            input{
                margin-top: 0px;
            }
        }
        td{
            .row{
                .col-md-4 {
                    width: 46.333333% !important;
                }
                .col-md-6 {
                    width: 50% !important;
                }
            }
        }
    }
}

.padding-bottom{
    padding-bottom: 5px !important;
}

.paddingLeft0{
    padding-left: 0px !important;
}

.font{
    font-weight: 700 !important;
    font-family: "Frutiger-LT-Arabic-55-Roman" !important;
    font-size: 13px;
    line-height: 31px !important;
    color: #000;
}

.halfDayColor{
    background: linear-gradient(-45deg, #4AD34A 50%, #009EFF 50%) !important;
}

// .placeholder::placeholder{
//     color: #000;
//     opacity: 1 !important;
// }