/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
a { cursor: pointer }
.row{
    margin-left: 0px;
    margin-right: 0px;
    }

    body {
        //margin: 0;
         font-size: 14px !important;
         
    }
    .form-control {
        font-size: 14px !important;
    }
    .btn{
        font-size: 16px !important;
    }