

<div class="base">
    <div class="map">
        <agent-action></agent-action>
    </div>
     <!-- <div class="calls">
      Right side
    </div> -->
  </div>

<!-- <div class="container"><div class="card mt-4">
    <h4 class="card-header">Business Trip</h4>
    <div class="card-body" *ngIf="userFromApi"> 
       <b> Welcome: </b> {{userFromApi.firstName}} {{userFromApi.lastName}}
    </div>
    <div class="row" *ngIf="currentUser.role == 'User'">
    <ag-grid-angular
        style="width: 1078px; height: 300px;"
        class="ag-theme-balham"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        >
    </ag-grid-angular>
</div>
<div class="row" *ngIf="currentUser.role == 'Agent'">
     <agent-action></agent-action>
</div>
    <div class="row" *ngIf="currentUser.role == 'Manager'">
       <manager></manager>
</div>
<div class="row" *ngIf="currentUser.role == 'HR'">
<hr-action></hr-action>
</div>
</div>
</div>
<style>
.row{
margin-left: 0px;
margin-right: 0px;
}
</style> -->