.form-group{
    margin-bottom: 11px;
label{
margin: 0.8rem 0.8rem 0 0.8rem !important;
font-size: 18px;
font-weight: 500;
}
.inputLabel{
font-weight: 600;
}
.expiryDate{
color: red;
font-size: 20px;
font-weight: 700;
}
}

.Submit{
    font-family: "Frutiger-LT-Arabic-55-Roman";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 31px !important;
    color: black;
}
.Submitt{
    font-family: "Frutiger-LT-Arabic-55-Roman";
    font-style: normal;
    font-size: 18px;
}

.modal-content {
    width: 153%;
}