<div class="access-denied">
    <div><img src="assets/icons/403-image 1.svg" style="margin-top: 12%;margin-right: 112px;"></div>
    
</div>
<div class="access-denied">
    <div class="Denied">
        <label class="access-denied-label">{{'Access Denied'}}</label><br>
        <label class="statement">{{"Sorry about that, but you don't have permission to access the requested page."}}</label><br>
        <label class="statement" style="margin-top: 0px !important;">{{"Please contact DPP support team"}}</label>
        <!-- <label><button class="back-btn btn-primary" ><img src="assets/icons/back-btn.svg" style="margin-right: 27px;"><label>Go Back</label></button></label> -->
    </div>
</div>
